.bombo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 3rem);

    &-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 1rem);
        height: calc(20% - 1rem);
        padding: .5rem;
        &-ball {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            box-shadow: 2px 2px 5px black;
            background: var(--color-white);
            &-text {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4rem;
                border: 3px solid var(--color-blue);
                border-radius: 100%;
                text-align: center;
                font-size: 1.75rem;
                font-weight: 600;
            }
        }
        &-bombo {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            &-figure, &-figure-image  {
                position: absolute;
                top: 0;
                margin: 0;
                width: 100%;
                height: auto;
                &.pie {
                    z-index: 1;
                }
                &.bombo {
                    animation: spin 2s infinite linear;
                }
                &.ruleta {
                    animation: spin .75s infinite linear;
                }
            }
            
        }
        &-buttons {
            &-button {
                width: 8rem;
                height: 3rem;
                border-radius: .25rem;
                font-size: 1.25rem;
                outline: none;
                border: none;
                background: var(--color-blue-light);
                box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.7);
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
    &-screen {
        display: flex;
        width: 100%;
        height: 80%;
        background-color: var(--color-black);
        &-content {
            width: calc(100% - 1rem);
            height: calc(100% - 1rem);
            padding: .5rem;
            &-numbers {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                max-width: 890px;
                margin: auto;
                &-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    border: 1px solid var(--color-white);
                    opacity: 0;
                    &-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 100%;
                        color: var(--color-white);
                        font-size: 1.25rem;
                        text-align: center;
                        &.called {
                        background-color: var(--color-red);

                        }
                    }
                }
            }
        }
    }
}

@media screen and (orientation:landscape) {
    .bombo { 
        &-options {
            height: calc(30% - 1rem);
        }
        &-screen {
            height: 70%;
        }
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
        transform-origin: center center;
    }
    to {
        transform:rotate(360deg);
        transform-origin: center center;
    }
}