<section class="carton">
    <div class="carton-content">
        <div class="carton-content-title">
            <span class="carton-content-title-text">LOTTO BOLA</span>
        </div>
        <div class="carton-content-body">
            <div class="carton-content-body-numbers" >
                <div class="carton-content-body-numbers-number" *ngFor="let number of lotoNumbers; let i = index" (click)="callNumber(i)">
                    <span class="carton-content-body-numbers-number-little topLeft">{{ number }}</span>
                    <span class="carton-content-body-numbers-number-little topRight">{{ number }}</span>
                    <span class="carton-content-body-numbers-number-little bottomLeft">{{ number }}</span>
                    <span class="carton-content-body-numbers-number-little bottomRight">{{ number }}</span>
                    <span class="carton-content-body-numbers-number-normal" [class.called]="lotoNumbersCalled[i]">{{ number }}</span>
                </div>
            </div>
        </div>
    </div>
</section>