<section class="home">
    <div class="home-title">
        <h1 class="home-title-h1">
            BINGO
        </h1>
    </div>
    <div class="home-content">
        <button class="home-content-button" (click)="navigateBombo()">Nuevo Bombo</button>
        <button class="home-content-button" (click)="navigateCarton()">Nuevo Cartón</button>
        <div class="home-content-background">
            <figure class="home-content-background-figure">
                <img class="home-content-background-figure-img" src="./assets/images/bombo.svg" width="320" height="320" alt="Volver">
            </figure>
        </div>
    </div>
    <div class="home-box leftTop"></div>
    <div class="home-box rightTop"></div>
    <div class="home-box leftBottom"></div>
    <div class="home-box rightBottom"></div>
</section>