:root {
    --color-red: #e62f2f;
    --color-blue: #2f60e6;
    --color-blue-light: #8ca2df;
    --color-blue-lighter: #a8baec;
    --color-pink: #DF5679;
    --color-pink-light: #E5C3CC;
    --color-orange: #e79e3f;
    --color-orange-light: #d3b792;
    --color-green: #2daa42;
    --color-green-light: #aad8af;
    --color-gray-light: #f0eeee;
    --color-white: #FFFFFF;
    --color-black: #0c0b0b;
}

body {
    margin: 0;
    user-select: none;
    touch-action: manipulation;
}